body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  position: relative;
  left: 1100px;
}

.menu {
  margin-bottom: 10px;
}

ul.menu li {
  display: inline;
}

li {
  margin: 5px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: #428bca;
}

.location {
  margin-top: 20px;
}

.links {
  text-decoration: none;
  color: #fff;
}